.header{
    display: flex;
    flex-direction: column;
  
  /*row:justify-content: عرض; */
  /*column:justify-content: طول;*/
    justify-content: center;


  /*row:justify-content: طول; */
  /*column:justify-content: عرض;*/
align-items: center;

}
.container{
width: 500px;
height: 500px;
background-color: rgb(83, 2, 2);
margin: auto;
display: flex;
flex-wrap: wrap;
justify-content:center;



}
.cell{
  
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    margin: 18px;

}